<!--Sample configuration menu-->
<menu>
	<menuItem name="System">
		<menuItem name="Monitor Timeout">
			<menuItem name="20 Mins" program="powercfg" hidden="true" args="-change -monitor-timeout-ac 20" />
			<menuItem name="1 Min" program="powercfg" hidden="true" args="-change -monitor-timeout-ac 1" />
		</menuItem>
		<menuItem name="Time Resync" program="w32tm" hidden="true" args="/resync /rediscover" />
	</menuItem>
</menu>